<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">

  <main layout:fragment="content">

    <h1>Classement des artistes</h1>

    <table th:unless="${#lists.isEmpty(artists)}">
        <tr></tr><th>Nom</th><th>Nombre de chansons</th></tr>
        <tr th:each="artist : ${artists}">
        <td><a th:text="${artist.name}"></a></td>
        <td><a th:text="${#lists.size(artist.tracks)}"></a></td>
        </tr> </table>

    </main>

</html>