<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Artists</title>
</head>


<body>

    <header>
        <h1>Exam</h1>
        <h2>HE2B-ESI / WEBG5 / OTI / 2021-2022</h2>
        <div class="topnav">
            <a th:href="@{/}">Home</a>
            <a th:href="@{/artists}">Artistes</a>
        </div>
        
    </header>

    <main layout:fragment="content">
       
    </main>

    <footer>
        <p>Author: Oscar Tison</p>
        <p><a href="mailto:55315@etu.he2b.be">55315@etu.he2b.be</a></p>
    </footer>
</body>

</html>